

.app{
  text-align: center;
  color:blue;
  background-color:gray;
  height: 100vh;
  

}
.data{
 
  border-radius: 30px;
  padding: 10px;
  
  background-color:white;
  color: black;
  width: 300px;
  min-height: 200px;
}


